<footer class="container footer bg-primary-50 p-3">
  <div class="footer-content grid md:column-gap-2 py-3">
    <div class="col-12 md:col-4">
      <!-- TODO: Change src to ngScr-->
      <img src="assets/Logo/E-shop.webp" alt="E-Shop Logo" class="logo">
      <p> We are always happy to answer your IT problems.
    </p>
    </div>
    <div class="footer-block col-12 md:col-3">
        <h4 class="text-2xl">Entreprise</h4>
        <ul>
            <li><a href="#" class="text-600 no-underline hover:text-900 hover:underline">A Propos De Nous</a></li>
            <li><a href="#" class="text-600 no-underline hover:text-900 hover:underline">Conditions D'utilisation</a></li>
            <li><a href="#" class="text-600 no-underline hover:text-900 hover:underline">Contactez-Nous</a></li>
        </ul>
    </div>
    <div class="footer-block col-12 md:col-3">
        <h4 class="text-2xl">Important links</h4>
        <ul>
            <li><a href="#" class="text-600 no-underline hover:text-900 hover:underline">Catégorie Populaire</a></li>
            <li><a href="#" class="text-600 no-underline hover:text-900 hover:underline">Meilleurs Produits</a></li>
            <li><a href="#" class="text-600 no-underline hover:text-900 hover:underline">Produits Vedettes</a></li>
        </ul>
    </div>
    <div class="footer-block col-12 md:col-1">
        <h4 class="text-2xl">Help</h4>
        <ul>
            <li><a href="#" class="text-600 no-underline hover:text-900 hover:underline">Faq</a></li>
        </ul>
    </div>
  </div>
  <div class="footer-copyright border-top-1 py-3">
    <div class="grid">
      <div class="col-12">
        <div class="flex justify-content-center">
          <p>© 2024 E-Shop, All rights reserved.</p>
        </div>
        <div class="flex justify-content-center">
          <p>Follow us on
            <i class="pi pi-facebook" style="font-size: 1em; margin: 0 0.5em;"></i>
            <i class="pi pi-twitter" style="font-size: 1em; margin: 0 0.5em;"></i>
            <i class="pi pi-instagram" style="font-size: 1em; margin: 0 0.5em;"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
