<!-- login.component.html -->
<!--<p-dialog [(visible)]="showDialog">-->
<!--    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-fluid">-->
<!--        <div class="p-field">-->
<!--            <label for="username">Username</label>-->
<!--            <input id="username" type="text" pInputText formControlName="username">-->
<!--        </div>-->
<!--        <div class="p-field">-->
<!--            <label for="password">Password</label>-->
<!--            <input id="password" type="password" pInputText formControlName="password">-->
<!--        </div>-->
<!--        <button type="submit" pButton label="Login"></button>-->
<!--    </form>-->
<!--</p-dialog>-->

<div class="">Login content</div>
