<div class="container mb-6 px-2 md:px-0 py-6" style="max-width: 400px" Ï>
  <h1>Login here</h1>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
    novalidate
    class="p-fluid"
  >
    <div class="p-field">
      <label for="email">Email Address</label>
      <input
        id="email"
        type="email"
        placeholder="Email Address"
        pInputText
        formControlName="email"
        required
        name="email"
      />
    </div>
    <div class="p-field">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        placeholder="Password"
        pInputText
        formControlName="password"
        required
        name="password"
      />
    </div>
    <button
      pButton
      type="submit"
      label="Submit"
      [disabled]="!loginForm.valid"
    ></button
    ><br />
  </form>
  <p class="onRegister">
    You don't have an account ? <a (click)="onAn()">Click here</a>
  </p>
</div>
