
<div class="container mb-6 px-2 md:px-0" style="max-width: 400px;">
<form (ngSubmit)="onSubmit()" class="p-fluid">
    <div class="p-field">
        <label for="email">E-Mail</label>
        <input id="email" type="email" pInputText [(ngModel)]="loginData.email" required name="email">
    </div>
    <div class="p-field">
        <label for="password">Passwort</label>
        <input id="password" type="password" pInputText [(ngModel)]="loginData.password" required name="password">
    </div>
    <p-button label="Anmelden" [disabled]="!loginData.email || !loginData.password"></p-button><br>
</form>
    <p class="onRegister">You don't have an account ? <a (click)="onAn()">Click here</a></p>
</div>