/* Diese Stile sind optional und können angepasst werden, um das Layout und Design Ihrer Login-Seite zu verbessern. */

.p-inputtext {
  width: 100%;
  padding: 1rem;
}

.p-button {
  width: 100%;
  margin-top: 1rem;
}

.p-field {
  margin-bottom: 1.5rem;
}

.onRegister {
  cursor: pointer;
}
